{
  "plugins": [
    "@emotion",
    "superjson-next",
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["styled-components", { "ssr": true }],
    ["babel-plugin-module-resolver",
      {
        "alias": {
          "@components": ["./components/*"],
          "@lib": ["./lib/*"]
        }
      }
    ]
  ],
  "presets": [
    [
      "next/babel",
      {
        "@babel/preset-env": {},
        "@babel/preset-react": { "runtime": "automatic" },
        "@babel/preset-typescript": {}
      }
    ]
  ]
}